.section h1 {
    margin-top: 1em;
    margin-bottom: 0.25em;
}

.section .graph-description {
    font-size: smaller;
    font-style: italic;
    max-width: 960px;
}

.season-contestant-summary {
    margin-bottom: 1em;
}

.season-contestant-summary table {
    width: 960px;
    border-collapse: collapse;
    font-size: 12px;
}

.season-contestant-summary table th, .season-contestant-summary table td {
    padding: 2px 8px;
    border: 1px solid #999999;
}

.season-contestant-summary table th.empty {
    border: 0;
}

.season-contestant-summary table td {
    text-align: right;
}

.season-contestant-summary table td:first-child {
    text-align: left;
    width: 20%;
}